<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Next</title>
    <%= favicon_link_tag 'logo1next.png' %>
    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body class="md-skin">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>
        <%#= render 'layouts/demandasfeed' %>
        <!-- Page wraper -->
        <div id="page-wrapper" class="">
            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

                <div class="col-md-10" id="bodycontent">
                    <%= render 'layouts/breadcrumb' %>

                    <div id="main">
                            <!-- Main view  -->
                            <%= yield %>
                    </div>

                    <!-- widget for docs -->
                    <%= render 'layouts/docswidget' %>

                </div>
                <div class="col-md-2 showFeedDemands" id="feedDemandas">
                    <%= render 'layouts/demandasfeed' %>
                </div>
            <!-- Footer -->
            <%#= render 'layouts/footer' %>
        </div><!-- End page wrapper-->
    </div><!-- End wrapper-->
</body>
</html>
